@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    color: white;
    background: rgb(21, 21, 33);
   
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 2rem 6rem;
   backdrop-filter: blur(12px);
   border-radius: 20px;
   margin-top: 0;
   z-index: 99;
}

section{
    min-height: 100vh;
    padding: 1px 6rem;
}
.logo p{
    font-size: 1.6em;
    font-weight: 600;
    cursor: none;
}


#menu{
    font-size: 2.5em;
    display: none;
}


nav a{
    padding-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav a:hover,.active{
    color: cyan;
    transition: .3s;
}


.about{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}

.about .about-text h3{
    margin-bottom: -5px;
    font-size: 1.5em;
}

.about .about-text h2{
    margin-bottom: 2px;
    font-size: 1.6em;
}
.about .about-text h2 span, .contact h2 span{
    font-size: 1.7em;
    margin-left: 10px;
    color: cyan;
    text-shadow: 0px 0px 4px cyan;
}

.about .about-text p{
    line-height: 30px;
    margin-bottom: 15px;
    width: 80%;
    font-size: 1.2em;
}


.about .about-text .social-links{
    display: flex;
    gap: 17px;
    justify-content: start;
    margin-top: 8px;
    align-items: center;
    margin-bottom: 20px;
}

.about .about-text .social-links a{
    font-size: 1.4em;
    color: black;
    background: cyan;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px cyan;
    text-decoration: none;
}
.about .about-text .social-links a i{
    font-size: 1.4em;
    
}
.about .about-text .social-links a:hover{
    color: cyan;
    background: black;
    transition: .7s ease-in;
    font-size: 1.6em;
}

.btn{
    margin-top: 13px;
    height: 45px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: black;
    background: cyan;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 10px cyan;
}

.btn:hover{
    transition: .5s ease-in;
    color: cyan;
    background: black;
}

.about .about-img img{
    height: 300px;
    border-radius: 50px;
   

}


.rafsan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-left: 10%;


}

.rafsan .rafsan-text{
    width: 100%;
}
.rafsan .rafsan-text h1{
   margin-bottom: -10px;
   font-size: 2.6em;
}
.rafsan .rafsan-text h1 span{
    margin-bottom: 5px;
    font-size: 1.1em;
    margin-left: 6px;
    text-shadow: 0px 0px 4px cyan;
    color: cyan;
 }


 .rafsan .rafsan-text h3{
    margin-bottom: 10px;
    font-size: 1.4em;
 }

 .rafsan .rafsan-text p{
    line-height: 30px;
 }

.rafsan .another-img img{
    height: 500px;
    border-radius: 50px;
}

.services{
    padding:9% 6rem;
}
.services h2{
    margin-bottom: 50px;
    margin-left: 50%;
    font-size: 3em;
}
.services h2 span,.projects h2 span{
    color: cyan;
}

.services-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.services-con .services-box{
   flex: 1 1 20rem;
   background: rgb(29, 29, 44);
   padding: 3rem 2rem 4rem;
   border-radius: 2rem;
   text-align: center;
   border: .2rem solid rgb(29, 29, 44);
   box-shadow: 1px 1px 15px cyan;
   transition: .5s ease-out;
}

.services-con .services-box:hover{
    border: .2rem solid cyan;
    transform: scale(1.02);
}
.services-con .services-box .services-icon{
    font-size: 3em;
    color: cyan;
}

.services-con .services-box h3{
    font-size: 1.4em;
}
.services-con .services-box p{
    margin-top: 12px;
    font-size: 1.1em;

}

.services-con .services-box .btn{
    font-size: 1.1em;
    margin: auto;
    margin-top: 30px;
}

.projects{
    position: relative;
    height: 100vh;
}

.project-box{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    justify-content: center;
    align-items: center;
    /* margin-left:10%; */
}


.projects h2{
    text-align: center;
    font-size: 4.5em;
    margin-bottom: 3rem;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    align-items: center;
    gap: 2.5rem;

}

.projects-container .projects-box{
   display: flex;
   box-shadow: 2px 0px 10px cyan;
   position: relative;
   border-radius: 20px;
   overflow: hidden;
}

.projects-container .projects-box img{
    width: 100%;
}
.projects-container .projects-box img:hover{
    width: 103%;
    transition: .5s;
}

.projects-container .projects-box:hover .projects-layer {
    transform: translateY(0);
    transition: transform .7s;
} 

.projects-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.5),rgba(20, 149, 149));
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(300px);
    border-radius: 20px;
}

.projects-layer h3{
    color: cyan;
    font-size: 2.1em;
}
.projects-layer  p{
    width: 90%;
}
.projects-layer a i{
    height: 45px;
    padding-top: 23%;
    width: 45px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid cyan;
    color: white;
    font-size: 1.3em;
}

.projects-layer a i:hover{
    background: black;
    transition: .5s ease;
    color: cyan;
}



.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h2{
    margin-bottom: 2rem;
    font-size: 2.5em;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: .7rem;
    font-size: 1.2rem;
    color: white;
    background: rgb(7, 8, 23);
    margin: .7rem 0;
    border: none;
    border-radius: 10px;

}

.contact form .input-box input{
    width: 49%;
    
}

.contact form ::placeholder{
    color: white;
    font-size: .7em;
}

.contact form textarea{
    resize: none;
}


.contact form .btn{
    margin: auto;
    width: 160px;
    height: 50px;
    font-size: 1.2em;
}

.footer{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding: 10px 30%;
    align-items: center;
     background: rgb(19, 19, 28);
}

.footer .footer-text{
    text-align: center;
}

.footer .footer-icon i{
    border: 2px solid cyan;
    height: 50px;
    width: 50px;
    padding-top: 10%;
    color: cyan;
    font-size: 2.4rem;
    border-radius: 50%;

}

.footer .footer-icon i:hover{
    background:cyan;
    color: black;
    transition: .5s ease-in;
}

/* Making Responsive */

@media(max-width:1324px) {
    .about .about-text p{
        width: 100%;
        line-height: 25px;
        font-size: 1.2em;
    }
    .rafsan{
        margin-left: 0;

    }
    .rafsan .rafsan-text p{
        width: 100%;
        line-height: 25px;
        font-size: .7em;
    }
    .projects-container{
        grid-template-columns: repeat(2,1fr);
    }
   
}

@media (max-width:1002px){
    .about{
        margin-top: 3%;
    }
    .about .about-text .multi-text{
        font-size: 1.8em;
    }
    .about .about-text p{
        line-height: 20px;
        width: 100%;
        font-size: 1em;
    }

    .rafsan{
        margin-top: 3%;
        margin-left: 0;
    }
    .rafsan .another-img img{
       height: 300px;
    }
.rafsan .rafsan-text{
    width: 140%;
}
.rafsan .rafsan-text p{
    font-size: .8em;
    line-height: 17px;
}
.footer .footer-text{
    font-size: .6em;
}
}

@media (max-width:858px){
    #menu{
        display: block;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(10, 10, 16);
        display: none;
        
    }

    header nav.active{
        display: block;
        transition: .5s;
    }

    header nav a{
        display: block;
        font-size: 1.3rem;
        margin: 3rem 0;
    }
}
